.features {
    background: rgba(255, 255, 255, 0.76) url(../img/features/features-bg.png) no-repeat;
    background-size: cover;
    padding: 50px 0 100px 0;
    &__title {
        margin-bottom: 57px;
    }
    &__wrapper {
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 4px 62px 0px #0000000A;
        display: flex;
        flex-wrap: wrap;
        @media(max-width:576px){
            justify-content: center;
        }
    }
    &__point {
        flex: 0 1 33.33%;
        padding: 25px 37px;
        border: 1px dashed #E5E5E5;
        @media(max-width:991px){
            flex: 0 1 50%;
        }
        @media(max-width:768px){
            padding: 15px 15px;
        }
        @media(max-width:576px){
            margin: 20px 0;
            padding: 0;
            border: none;
            flex: 0 1 80%; 
        }
        @media(max-width:520px){
            border: none;
            flex: 0 1 100%; 
        }
        span {
            @media(max-width:576px){
                display: none;
            }
        }
    }
    &__image {
        margin-bottom: 15px;
        width: 100%;
        height: 180px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &_wide {
            width: 110%;
            transition: .3s ease;
            @media(max-width:576px){
                width: 100%;
            }
        }
    }
    &__details {
        padding: 0 12px;
    }
    &__subtitle {
        margin-bottom: 12px;
        font-size: 20px;
        font-family: $additional-font;
    }
    &__list {
        padding-left: 0;
    }
    &__item {
        font-size: 16px;
        list-style-type: none;
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 1px;
            border-radius: 100%;
            position: absolute;
            background-color: #000;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
        }
    }
}

#scale-document.scale {
    transform: scale(1.8);
    z-index: 20000;
    @media(max-width:991px){
        transform: translateX(-50%) scale(1.8);
    }
    @media(max-width:576px){
        transform: translateX(0) scale(1);
    }
    
}