.questions {
    background-color: #ffffff;
    background: #fff url(../img/qa-bg.png) no-repeat;
    background-position: center right -150px;
    background-size: cover;
    padding: 116px 0 160px 0;
    @media(max-width:576px){
        background-position: center right -464px;
    }
    &__title {
        margin-bottom: 49px;
    }
    &__item {
        margin: 10px auto;
        padding: 30px 36px;
        width: 80%;
        position: relative;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        @media(max-width:768px){
            width: 100%;
        }
        @media(max-width:576px){
            padding: 15px 15px;
        }
    }
    &__content {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;   
        position: relative;
        // border-bottom: 1px solid $third-color;
        cursor: pointer;
    }
    &__subtitle {
        margin-bottom: 49px;
        font-family: $additional-font;
        cursor: pointer;
        text-align: left;
        font-size: 18px;
        margin-bottom: 10px;
        width: 90%;
        @media(max-width:576px){
            font-size: 15px;
            width: 80%;
        }
    }
    &__plus {
        font-size: 23px;
        border-radius: 100%;
        cursor: pointer;
        width: 30px;
        text-align: center;
        transition: all 0.3s linear;
        img {
            cursor: pointer;
        }
    }
   
    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        p   {
            padding: 18px;
            font-size: 15px;
            font-weight: 300;
            text-align: left;
        }
        
    }
}
