.tabsheader {
    padding-top: 37px;
    @media(max-width:768px){
        padding-top: 0;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        @media(max-width:576px){
            flex-direction: column;
        }
    }
    &__item {
        margin: 5px 5px 5px 0;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        cursor: pointer;
        @media(max-width:576px){
            margin: 0;
            border-radius: 0;
            border: 1px solid $accent-color;
            border-top: 0;
            &:first-child{
                border-top: 1px solid $accent-color;
            }
        }
        &_active {
            background-color: $accent-color;
            color: #fff;
            @media(max-width: 576px){
                background-image: url(../icons/down.svg);
                background-position: right 20px center;
                background-repeat: no-repeat;
                background-size: 3%;
            }
        }
    }
}

.search {
    margin-top: 13px;
    padding: 11px 37px;
    width: 48%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: 12px;
    color: #C4C4C4;
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    outline: $main-bg;
    @media(max-width:768px){
        width: 100%;
    }
}

.tabcontent.show {
    display: flex;
}

.tabcontent.hide {
    display: none;
}


.tabcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 37px;
    @media(max-width:670px){
        flex-wrap: wrap;
        justify-content: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        @media(max-width:576px){
            flex-direction: column;
        }
    }
    &__title {
        margin-bottom: 31px;
        font-family: $additional-font;
        font-size: 25px;
        @media(max-width:991px){
            font-size: 18px;
        }
    }
    &__link {
        padding-left: 7px;
        margin-bottom: 10px;
        display: block;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        transition: .3s linear;
        position: relative;
        &:before {
            content: url(../icons/right-arrow.svg);
            position: absolute;
            color: #000;
            top: 50%;
            left: -28px;
            transform: translateY(-50%);
        }
        @media(max-width:991px){
            font-size: 15px;
        }
        &:hover {
            color: $accent-color;
            text-decoration: underline;
        }
    }
    &__colinner {
        display: flex;
        @media(max-width:991px){
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 1 47%
    }
    &__col1 {
        flex: 0 1 47%;
        @media(max-width:576px){
            margin-bottom: 20px;
        }
    }
    &__col2 {
        flex: 0 1 47%;
    }
}

.tab-program {
    margin-bottom: 15px;
    padding: 40px 32px;
    flex: 0 1 48%;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    @media(max-width:991px){
        padding: 27px 22px;
    }
    @media(max-width:670px){
        flex: 0 1 70%;
    }
    @media(max-width:576px){
        flex: 0 1 90%;
    }
    @media(max-width:420px){
        padding: 15px 10px;
        flex: 0 1 100%;
    }
    &__title {
        margin-bottom: 15px;
        font-family: $additional-font;
        font-size: 20px;
        // @media(max-width:576px){
        //     font-size: 25px;
        // }
    }
    &__duration {
        margin-bottom: 26px;
        font-size: 15px;
        opacity: .4;
        @media(max-width:991px){
            font-size: 12px;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        // 
    }
    &__btn {
        margin-right: 19px;
        padding: 21px 51px;
        @media(max-width:991px){
            padding: 12px 32px;
            font-size: 10px;
        }
    }
    &__tariff {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: $accent-color;
        @media(max-width:991px){
            font-size: 15px;
        }
    }
}

.tab-program.hide {
    display: none;
}

.order-modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    &__wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 45px;
        color: $accent-color;
        cursor: pointer;
    }
    &__card {
        display: flex;
        justify-content: center;
        padding: 46px 0 77px 0;
        position: absolute;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 709px;
        height: 70vh;
        overflow: scroll;
        background-color: #fff;
        @media(max-width: 768px){
            padding: 25px 10px;
            width: 90%;
            height: 90vh;
        }
    }
    &__title {
        margin-bottom: 45px;
        font-family: $additional-font;
        font-size: 30px;
        text-align: center;
        @media(max-width:576px){
            margin-bottom: 25px;
            font-size: 25px;
        }
    }
}

.order-modal.opened {
    display: block;
}

.form-order {
    margin-top: 20px;   
    display: flex;
    flex-direction: column;
    &__input {
        margin-bottom: 15px;
        padding: 20px 29px;
        border: 1px solid #E5E5E5;
        outline: none;
        border-radius: 5px;
        &::placeholder {
            color: rgba(0, 0, 0, .3);
        }
    }
    &__date {
        margin-bottom: 25px;
        padding: 20px 29px;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
        background-color: transparent;
        text-align: left;
        outline: none;
        color: rgba(0, 0, 0, .3);
    }
    &__btn {
        margin-bottom: 20px;
    }
}
