.container-links-text {
    max-width: 770px;
    margin: 0 auto;
    padding: 0 15px;
}

.links-text {
    padding: 120px 0;
    background-color: $light-bg;
    @media(max-width:768px) {
        padding: 80px 0;
    }
    @media(max-width:576px) {
        padding: 40px 0;
    }
    &__title {
        margin-top: 65px;
        font-size: 120px;
        line-height: 129px;
        margin-bottom: 0;
        span {
            color: $bright-color;
        }
        @media(max-width:768px) {
            font-size: 80px;
            list-style: 87px;
        }
        @media(max-width:576px) {
            margin-top: 50px;
            font-size: 45px;
            line-height: 50px;
        }
    }
    &__about {
        margin-top: 56px;
        font-size: 24px;
        line-height: 32px;
        @media(max-width:576px) {
            font-size: 16px;
            line-height: 18px;
        }
        span {
            display: block;
            margin-bottom: 32px;
            @media(max-width:576px) {
                margin-bottom: 25px;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    &__subtitle {
        margin-top: 80px;
        font-size: 52px;
        line-height: 52px;
        @media(max-width:768px) {
            margin-top: 64px;
            font-size: 42px;
            line-height: 42px;
        }
        @media(max-width:768px) {
            margin-top: 47px;
            font-size: 38px;
            line-height: 38px;
        }
        @media(max-width:768px) {
            margin-top: 37px;
            font-size: 26px;
            line-height: 26px;
        }
    }
    &__text {
        margin-top: 25px;
        font-size: 24px;
        line-height: 32px;
        @media(max-width:576px) {
            margin-top: 20px;
            font-size: 16px;
            line-height: 18px;
        }
        a {
            cursor: pointer;
            transition: 0.3s linear;
            &:hover {
                cursor: pointer;
                color: $bright-color; 
                text-decoration: underline;
                @media (max-width: 768px) {
                    cursor: default;
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
    }
    &__list {
        li {
            margin-top: 25px;
        font-size: 24px;
        line-height: 32px;
        @media(max-width:576px) {
            margin-top: 20px;
            font-size: 16px;
            line-height: 18px;
        }
        a {
            cursor: pointer;
            transition: 0.3s linear;
            &:hover {
                cursor: pointer;
                color: $bright-color; 
                text-decoration: underline;
                @media (max-width: 768px) {
                    cursor: default;
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
        }
    }
}


