$main-color: #383942;
$main-bg: #FAFBFF;
$selected-bg: #F2F5FF;
$accent-color: #2757FF;
$wrong-color: #F95555;
$correct-color: #7DD662;
$light-color: #787878;
$additional-font: 'TT Travels', sans-serif;






