@font-face {
  font-family: 'Igra Sans';
  src: url('../fonts/IgraSans.woff2'),
  url('../fonts/IgraSans.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.woff2'),
  url('../fonts/Circe-Light.woff');
  font-weight: 350;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.woff2'),
  url('../fonts/Circe-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.woff2'),
  url('../fonts/Circe-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
